.tbbr {
    border: 0.15rem solid black;
}

.shortyBox {
    max-width: 90%;
    height: 1.5rem; 
    line-height: 0rem; 
    padding: 0.4rem;
    margin-bottom:0.2rem;
}

/*#board div {
    background: url("../images/cat_face.jpg") no-repeat scroll 0 0 #ffffff;
    background-color: #0000FF;
    cursor: pointer;
    height: 90px;
    line-height: 90px;
    position: absolute;
    text-align: center;
    width: 180px;
    
}*/
