.a-out {
  color: #337ab7;
  font-size: 0.875em
}

.tabouter {
    background-image: url(../images/sudgrid.jpg);
    width: 450px; 
    height: 450px;
}

.sudouter {
    border: 0.05rem solid #000000;
    width: 50px; 
    height: 50px;
    color: rgb(96, 96, 192);
    text-align: center;
    font-size: 1.5em
}

.divouter {
    display: flex;
    align-items: center;
}

.sol-cell {
  border: 0.05rem solid #000000;
  color: rgb(0,0,0);
  font-weight: bold;
  font-size: 1.5em
}

.sqvalenter {
  font-weight: bold;
  background-color: #EEEEEE;
}

.sqVlSel {
  font-size: 1.25em;
  padding: 3px;
}

.table-bordered td{
  border: 0.05rem solid #000000;
}

.table td {
  line-height: 1;
  vertical-align: middle;
}

